@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

.boxContainer {
  min-height: 100vh;
  display: flex;
  background-color: #15202b;
  background-size: cover;
  background-position: center;
}

.bgMatch {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
